<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Lists all the NetApp volumes under a specific Storage Tenant.</description>
  <displayName>List Volumes (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>api</name>
      <displayName>API Server (IP Address:Port)</displayName>
      <helpHtml>Enter the IP Address and port of the API server. 

Example: 192.168.10.10:1024</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>cred</name>
      <displayName>Select API Server Credential</displayName>
      <helpHtml>Select API Server Credential. 

Make sure that API Server Credentials were already stored under Jenkins Global Credentials.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.CredentialsControl">
        <kind>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</kind>
      </control>
    </template-attribute>
    <template-attribute>
      <name>vs</name>
      <displayName>Storage Tenant (NetApp)e</displayName>
      <helpHtml>Provide the name of the Storage Tenant whose volumes need to be listed. 

Storage Tenant names can be listed by using the &quot;List SVM and Aggregates (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step lists all the NetApp volumes under a specific Storage Tenant.

Storage Tenant names can be listed by using the &quot;List SVM and Aggregates (NetApp)&quot; step.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>python /tmp/ps/volume_list.py  -a ${api} -apiuser ${cred.username} -apipass ${cred.password} -vs ${vs}
</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>