<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Zips the content and Archives it to Build Artifact.</description>
  <displayName>Zip and Copy Build Artifact (NetApp)</displayName>
  <attributes>

    <template-attribute>
      <name>zfile</name>
      <displayName>Zip File Name</displayName>
      <helpHtml>Provide name of the zip file to be created.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>

 
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step zips the content and archives it to Build Artifact.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>python /tmp/build_artifact_exec.py -z ${zfile}

 </script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>
