<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Setting up of a Build Artifact</description>
  <displayName>Create Build Artifact (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>check1</name>
      <displayName>Create a New Build Artifact Volume ?</displayName>
      <helpHtml>Check the box if a new build artifact volume needs to be created. 

Leave it unchecked if the build artifact volume was already created.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.CheckboxControl">
        <defaultValue>false</defaultValue>
      </control>
    </template-attribute>
    <template-attribute>
      <name>vol</name>
      <displayName>Build Artifact Volume Name</displayName>
      <helpHtml>Provide the Build Artifact Volume Name. 

If the previous checkbox was checked then a new Build Artifact will be created with the name provided in this field. 

But if the previous checkbox is unchecked then an existing Build Artifact with the name provided in this field will be used.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>vs</name>
      <displayName>Storage Tenant:</displayName>
      <helpHtml>Provide the name of the Storage Tenant i.e SVM.

Storage Tenant names can be listed by using the &quot;List Storage Tenants and Aggregates (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl">
        <options>
          <com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
            <displayName>lab1</displayName>
            <value>lab1</value>
            <inlineHelp></inlineHelp>
          </com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
        </options>
        <mode>DROPDOWN_LIST</mode>
      </control>
    </template-attribute>
    <template-attribute>
      <name>ag</name>
      <displayName>Aggregate Name</displayName>
      <helpHtml>Provide the name of the Aggregate.

Aggregate names can be listed by using the &quot;List SVM and Aggregates (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl">
        <options>
          <com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
            <displayName>aggr1_01</displayName>
            <value>aggr1_01</value>
            <inlineHelp></inlineHelp>
          </com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
          <com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
            <displayName>aggr1_02</displayName>
            <value>aggr1_02</value>
            <inlineHelp></inlineHelp>
          </com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
        </options>
        <mode>DROPDOWN_LIST</mode>
      </control>
    </template-attribute>
    <template-attribute>
      <name>size</name>
      <displayName>Volume Size for Build Artifactory (in MB)</displayName>
      <helpHtml>Provide volume Size for Build Artifactory (in MB)</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>base</name>
      <displayName>Name of CI Development Branch to Clone</displayName>
      <helpHtml>Provide name of CI Development Branch to Clone.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>snap</name>
      <displayName>Name of the Checkpoint to Clone</displayName>
      <helpHtml>Provide name of the Checkpoint to Clone.

Checkpoint can be listed by using the &quot;List Checkpoint and Workspace (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>cont</name>
      <displayName>Name of the Build Archival Container</displayName>
      <helpHtml>This label name is used uniquely identify the slave container in the build archival execution step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step will set up a build artifactory volume.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>if ${check1==true}; then
    python /tmp/ps/Volume_create_ba.py -v ${vol} -a \${APISERVER} -ag ${ag} -vs ${vs} -s ${size} -apiuser \${APIUSER} -apipass \${APIPASS}
fi
python /tmp/ps/build_artifact_create.py -v ${base} -a \${APISERVER} -s ${snap} -apiuser \${APIUSER} -apipass \${APIPASS} -i \${SLAVE} -cont ${cont} -l ${cont} -volba ${vol}  -m \${JENKINS_URL}

</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>