<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Create Deployment File for Apprenda</description>
  <displayName>Create Deployment File (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>ptz</name>
      <displayName>Path To Zip</displayName>
      <helpHtml>Provide the complete path where the zip file resides after being cloned to the workspace.

Example : /workspace/deploy/</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>zfile</name>
      <displayName>File to Unzip</displayName>
      <helpHtml>Provide the name of the zip file that resides in the path provided above.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step creates deployment file for Apprenda and commits the changes.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>python /tmp/zipForApprenda.py -ptz ${ptz} -zip ${zfile}</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>
