<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Deletes the Build Artifact Container.
</description>
  <displayName>Delete Build Artifact Container (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>cont</name>
      <displayName>Build Artifact Container Name</displayName>
      <helpHtml>Provide the Build Artifact Container Name to be deleted.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step deletes the Build Artifact Container.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>python /tmp/ps/build_artifact_container_purge.py -cnt ${cont}
</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>