<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Deletes the developer workspace. </description>
  <displayName>Delete User Workspace (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>clone</name>
      <displayName>Local Developer Workspace Name</displayName>
      <helpHtml>Provide the name of the local workspace that should be deleted. 

Workspace name can be listed by using &quot;List Checkpoint and Workspace (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>cont</name>
      <displayName>Developer Workspace Container Name</displayName>
      <helpHtml>Provide name of the developer&apos;s container. 

This is usually the name of the Jenkins Job used to create the developer workspace.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step will delete the developer&apos;s workspace.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>echo &quot;Deleting user workspace.... &quot;
python /tmp/ps/clone_purge.py -a \${APISERVER} -c ${clone} -apiuser  \${APIUSER} -apipass  \${APIPASS} -cnt ${cont}
</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>