<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Deletes checkpoint of a specific CI Developement Branch.</description>
  <displayName>Delete Checkpoint (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>bpname</name>
      <displayName>CI Development Branch Name</displayName>
      <helpHtml>Provide the name of the CI Development Branch from which the checkpoint should be deleted.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>snap</name>
      <displayName>Checkpoint to Delete</displayName>
      <helpHtml>Provide name of the Checkpoint to delete. 

Checkpoint can be listed by using &quot;List Checkpoint and Workspace (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step deletes checkpoint of a specific CI Developement Branch.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>python /tmp/ps/snapshot_delete.py -v ${bpname} -a  \${APISERVER} -s ${snap} -apiuser  \${APIUSER} -apipass  \${APIPASS}
   </script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>