<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Creates a Local SCM on NetApp Storage</description>
  <displayName>Create Local SCM (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>vs</name>
      <displayName>Storage Tenant:</displayName>
      <helpHtml>Provide the name of the Storage Tenant i.e (SVM)  where the SCM volume should be created.

SVM names can be listed by using the &quot;List SVM and Aggregates (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl">
        <options>
          <com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
            <displayName>lab1</displayName>
            <value>lab1</value>
            <inlineHelp></inlineHelp>
          </com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
        </options>
        <mode>DROPDOWN_LIST</mode>
      </control>
    </template-attribute>
    <template-attribute>
      <name>ag</name>
      <displayName>Aggregate Name</displayName>
      <helpHtml>Provide the name of the Aggregate where the SCM volume should be created.

Aggregate names can be listed by using the &quot;List SVM and Aggregates (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl">
        <options>
          <com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
            <displayName>aggr1_01</displayName>
            <value>aggr1_01</value>
            <inlineHelp></inlineHelp>
          </com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
          <com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
            <displayName>aggr1_02</displayName>
            <value>aggr1_02</value>
            <inlineHelp></inlineHelp>
          </com.cloudbees.hudson.plugins.modeling.controls.ChoiceControl_-Option>
        </options>
        <mode>DROPDOWN_LIST</mode>
      </control>
    </template-attribute>
    <template-attribute>
      <name>size</name>
      <displayName>Volume Size for Local SCM (in MB)</displayName>
      <helpHtml>Provide size of the Volume for SCM in MB.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>hostip</name>
      <displayName>Host IP Address</displayName>
      <helpHtml>IP Address of the Host on which this SCM container will run.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step creates a Local SCM for managing your code on prem.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>python /tmp/ps/scm_config.py -v \${JOB_NAME} -a \${APISERVER} -c \${JOB_NAME} -apiuser \${APIUSER}  -apipass  \${APIPASS} -vs ${vs} -ag ${ag} -s ${size} -m \${JENKINS_URL} -ip ${hostip}
</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>