<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Setting up of a Build Artifact</description>
  <displayName>Setup Build Artifact (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>api</name>
      <displayName>API Server (IP Address:Port)</displayName>
      <helpHtml>Enter the IP Address and port of the API server. 

Example: 192.168.10.10:1024</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>cred</name>
      <displayName>Select API Server Credential</displayName>
      <helpHtml>Select API Server Credential. 

Make sure that API Server Credentials were already stored under Jenkins Global Credentials.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.CredentialsControl">
        <kind>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</kind>
      </control>
    </template-attribute>
    <template-attribute>
      <name>check1</name>
      <displayName>Create a New Build Artifact Volume ?</displayName>
      <helpHtml>Check the box if a new build artifact volume needs to be created. 

Leave it unchecked if the build artifact volume was already created.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.CheckboxControl">
        <defaultValue>false</defaultValue>
      </control>
    </template-attribute>
    <template-attribute>
      <name>vol</name>
      <displayName>Build Artifact Volume Name</displayName>
      <helpHtml>Provide the Build Artifact Volume Name. 

If the previous checkbox was checked then a new Build Artifact will be created with the name provided in this field. 

But if the previous checkbox is unchecked then an existing Build Artifact with the name provided in this field will be used.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
      <template-attribute>
      <name>vs</name>
      <displayName>Storage Tenant(NetApp):</displayName>
      <helpHtml>Provide the name of the Storage Tenant.

Storage Tenant names can be listed by using the &quot;List Vserver and Aggregates (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>ag</name>
      <displayName>Aggregate Name</displayName>
      <helpHtml>Provide the name of the Aggregate.

Aggregate names can be listed by using the &quot;List Vserver and Aggregates (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>size</name>
      <displayName>Volume Size for Build Artifactory (in MB)</displayName>
      <helpHtml>Provide volume Size for Build Artifactory (in MB)</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>base</name>
      <displayName>Name of CI Development Branch to Clone</displayName>
      <helpHtml>Provide name of CI Development Branch to Clone.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>snap</name>
      <displayName>Name of the Checkpoint to Clone</displayName>
      <helpHtml>Provide name of the Checkpoint to Clone.

Checkpoint can be listed by using the &quot;List Checkpoint and Workspace (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>clone</name>
      <displayName>Name of the Clone</displayName>
      <helpHtml>Provide the name for the clone to be archived.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  
    <template-attribute>
      <name>slimage</name>
      <displayName>Slave Container Image Name</displayName>
      <helpHtml>Provide Slave Container Image Name.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>cont</name>
      <displayName>Name of the Slave Container for Archival</displayName>
      <helpHtml>This label name is used uniquely identify the slave container in the build archival execution step</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>mntvol</name>
      <displayName>Mount Path for Build Artifact Volume</displayName>
      <helpHtml>Provide the Mount Path for Build Artifact Volume. 

Example: /tmp/vol1/</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>mntclone</name>
      <displayName>Mount Path for Cloned Volume</displayName>
      <helpHtml>Provide the Mount Path for Cloned Volume. 

Example: /tmp/vol2/</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step will set up a build artifactory volume.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>if ${check1==true}; then
    python /tmp/ps/Volume_create_ba.py -v ${vol} -a ${api} -ag ${ag} -vs ${vs} -s ${size} -apiuser ${cred.username} -apipass ${cred.password} 
fi
python /tmp/ps/user_workspace_creation_ba.py -v ${base} -a ${api} -s ${snap} -c ${clone} -apiuser ${cred.username} -apipass ${cred.password} 


python /tmp/ps/build_artifact_config.py -i ${slimage} -c ${cont} -l ${cont}  -v ${vol} -m \${JENKINS_URL} -cl ${clone} 

</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>