<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Lists all the checkpoints and workspaces that were created.</description>
  <displayName>List Checkpoint and Workspace (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>api</name>
      <displayName>API Server (IP Address:Port)</displayName>
      <helpHtml>Enter the IP Address and port of the API server. 

Example: 192.168.10.10:1024</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>cred</name>
      <displayName>Select API Server Credential</displayName>
      <helpHtml>Select API Server Credential. 

Make sure that API Server Credentials were already stored under Jenkins Global Credentials.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.CredentialsControl">
        <kind>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</kind>
      </control>
    </template-attribute>
    <template-attribute>
      <name>bpname</name>
      <displayName> CI Development Branch Name</displayName>
      <helpHtml>Provide name of the CI Development Branch whose checkpoints should be listed.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step will list all the checkpoints (snapshots) and workspaces that were created.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>python /tmp/ps/snap_show.py -v ${bpname} -a ${api} -apiuser ${cred.username} -apipass ${cred.password}
python /tmp/ps/clone_list.py -v ${bpname} -a ${api} -apiuser ${cred.username} -apipass ${cred.password}</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>