<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Creates workspace for developers.</description>
  <displayName>Create User Workspace (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>api</name>
      <displayName>API Server (IP Address:Port)</displayName>
      <helpHtml>Enter the IP Address and port of the API server. 

Example: 192.168.10.10:1024</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>cred</name>
      <displayName>Select the APIs Username/Password</displayName>
      <helpHtml>Select API Server Credential. 

Make sure that API Server Credentials were already stored under Jenkins Global Credentials.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.CredentialsControl">
        <kind>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</kind>
      </control>
    </template-attribute>
    <template-attribute>
      <name>vs</name>
      <displayName>SVM Name</displayName>
      <helpHtml>Provide the name of the SVM.

SVM names can be listed by using the &quot;List SVM and Aggregates (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>ag</name>
      <displayName>Aggregate Name</displayName>
      <helpHtml>Provide the name of the Aggregate.

Aggregate names can be listed by using the &quot;List SVM and Aggregates (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>bpname</name>
      <displayName>CI Development Branch Name</displayName>
      <helpHtml>Provide the name of CI Development Branch that needs to be cloned to the developers&apos; workspace.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>snap</name>
      <displayName>Checkpoint Name for Creating Developer Workspace</displayName>
      <helpHtml>Provide the name of the checkpoint that will be used to create the workspace. 

Checkpoints can be listed by using &quot;List Checkpoint and Workspace (NetApp)&quot; step.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>lwsname</name>
      <displayName>Local Developer Workspace Name</displayName>
      <helpHtml>Provide the name for developer&apos;s workspace.

Example: netappdvp_mylocal_ws_1 

Make sure &quot;netappdvp_&quot; is added as the prefix to the name.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>uid</name>
      <displayName>User ID of Developer</displayName>
      <helpHtml>Provide User ID of Developer.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>gid</name>
      <displayName>Group ID of Developer</displayName>
      <helpHtml>Provide Group ID of Developer</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>slimage</name>
      <displayName>Slave Container Image Name</displayName>
      <helpHtml>Provide the Slave Container Image Name. 

Example: devopsnetapp/netapp-jenkins_slave</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step will create a local workspace for the developers.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>python /tmp/ps/user_workspace_creation.py -v ${bpname} -a ${api} -s ${snap} -c ${lwsname} -apiuser ${cred.username} -apipass ${cred.password} -uid ${uid} -gid ${gid}
        
python /tmp/ps/Jenkins_slave_create.py -i ${slimage} -c \${JOB_NAME} -l \${JOB_NAME} -p \${JOB_NAME} -v ${lwsname} -m \${JENKINS_URL}</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>