<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate plugin="cloudbees-template@4.21">
  <actions/>
  <description>Creates a checkpoint/snapshot of a CI Development Branch Volume.</description>
  <displayName>Create Checkpoint (NetApp)</displayName>
  <attributes>
    <template-attribute>
      <name>bpname</name>
      <displayName>CI Development Branch Name</displayName>
      <helpHtml>Provide name of the CI Development Branch to create it&apos;s checkpoint.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
    <template-attribute>
      <name>snap</name>
      <displayName>New Checkpoint Name</displayName>
      <helpHtml>Provide a name for the new Checkpoint.</helpHtml>
      <control class="com.cloudbees.hudson.plugins.modeling.controls.TextFieldControl"/>
    </template-attribute>
  </attributes>
  <properties/>
  <instantiable>true</instantiable>
  <help>This step will create a checkpoint of a CI Development Branch Volume.</help>
  <transformer class="com.cloudbees.hudson.plugins.modeling.impl.builder.RuntimeGroovyShellScriptTransformer">
    <script>python /tmp/ps/snapshot_create.py -v ${bpname} -a  \${APISERVER} -s ${snap} -apiuser  \${APIUSER} -apipass  \${APIPASS}

</script>
    <batch>false</batch>
    <sandbox>false</sandbox>
  </transformer>
</com.cloudbees.hudson.plugins.modeling.impl.builder.BuilderTemplate>